
@font-face {
font-family: "Quicksand";
src: url(quicksand/Quicksand_Dash.otf) format("opentype");
}

*{
    size: A4;
}

body p{
    font-family: Quicksand;
    color: black;
    font-size: 80px;}

.lines{
    font-family: Quicksand;
    padding-top: 20px;
    font-size: 50px;
    opacity: 50%;
}

.title{
    font-family: Quicksand;
    opacity: 100%;
    font-size: 60px;
    text-align: center;

}